*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



form {
  max-width: 700px;
  margin: 10px auto;
  padding: 20px 20px;
  background: url(http://subtlepatterns.com/patterns/pool_table.png);;
  border-radius: 3px;
  font: 17px/1.5 'Microsoft JhengHei' monospace;
  width:360px;
  color:#FBFFFD; 
  border:#06c dashed 1px;
} 

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
